<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mern-Authentication</title>
</head>
<body>
    <p3>Authentication Demo</p3>
    <br>
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>
    <br>
    <br>
    <p3><%= msg %></p3>
</body>
</html>